@import "bootstrap/scss/functions";
@import "./variables";
@import "bootstrap/scss/bootstrap";

body {
    user-select: none;
}

.py40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.thinScrollbar {
    scrollbar-color: rgb(223, 223, 223) rgb(255, 255, 255);
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgb(223, 223, 223);
        border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
    }
}